/Conversion/Conversion/obj
/Conversion/Library/obj
/Conversion/Library/bin
/Conversion/ScorpioConversion/obj
/Conversion/ScorpioZip/obj
/Conversion/ScorpioZip/bin
/Sample/Java/Sample/bin
/Conversion/.vs
/Sample/CPP/.vs
/Sample/CSharp/.vs
/Sample/CPP/Sample/x64
/Sample/CSharp/Sample/obj
/Sample/CSharp/Sample/bin
