/Conversion/Conversion/obj
/Conversion/Library/obj
/Conversion/Library/bin
/Conversion/ScorpioConversion/obj
/Conversion/ScorpioZip/obj
/Conversion/ScorpioZip/bin
/Sample/Java/Sample/bin
/Conversion/.vs
/Sample/CPP/.vs
/Sample/CSharp/.vs
/Sample/CPP/Sample/x64
/Sample/CSharp/Sample/obj
/Sample/CSharp/Sample/bin
/Conversion/Conversion/bin
/Conversion/ScorpioConversion/bin
/Sample/Tools/*.config
/Sample/Tools/log.log
/bin/ScorpioConversion/*.config
/bin/ScorpioConversion/*.ini
/bin/ScorpioConversion/log.log
/bin
/ScorpioConversion/*.user
/Sample/CSharp/obj
/Sample/nodejs/node_modules
/Sample/nodejs/package-lock.json
/Sample/go/pkg
/Sample/ts/node_modules
/Sample/ts/package-lock.json
/Sample/ts/out
/Sample/Java/bin
